/*
 * Copyright (c) {{ year }}{% if author_name %} {{ author_name }}{% endif %}
 * SPDX-License-Identifier: Apache-2.0
 */

#include <errno.h>

#include <zephyr/kernel.h>
#include <zephyr/zbus/zbus.h>
#include <zephyr/ztest.h>

#include "zlet_{{ zephlet_name_lower }}.h"

/* ----- Test instance -------------------------------------------------- */

static struct {{ zephlet_name_lower }}_data {{ zephlet_name_lower }}_test_data;
static struct {{ zephlet_name_lower }}_config {{ zephlet_name_lower }}_test_cfg = {
	/* TODO: Set initial config values for the test instance. */
};

ZEPHLET_NEW({{ zephlet_name_lower }}, {{ zephlet_name_lower }}_test,
		    &{{ zephlet_name_lower }}_test_cfg,
		    &{{ zephlet_name_lower }}_test_data,
		    {{ zephlet_name_lower }}_init_fn);

/* ----- Test fixture --------------------------------------------------- */

static void reset(void *fixture)
{
	ARG_UNUSED(fixture);
	(void){{ zephlet_name_lower }}_stop(&{{ zephlet_name_lower }}_test, NULL, K_MSEC(100));
}

ZTEST_SUITE({{ zephlet_name_lower }}_integration, NULL, NULL, reset, NULL, NULL);

/* ----- Tests ---------------------------------------------------------- */

ZTEST({{ zephlet_name_lower }}_integration, test_is_ready)
{
	zassert_true({{ zephlet_name_lower }}_is_ready(&{{ zephlet_name_lower }}_test),
		     "{{ zephlet_name_lower }} should be ready after init");
}

ZTEST({{ zephlet_name_lower }}_integration, test_get_status)
{
	struct lifecycle_status st = {0};

	zassert_ok({{ zephlet_name_lower }}_get_status(&{{ zephlet_name_lower }}_test, &st,
						       K_MSEC(100)));
	zassert_true(st.is_ready, "instance should report is_ready");
}

/*
 * TODO: Add tests exercising your command surface. Each ZTEST can call
 *       the generated wrappers with &{{ zephlet_name_lower }}_test as
 *       the instance pointer.
 */
